.banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(/img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 78px 16px 16px 16px;
}

.banner-titulo {
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.banner-texto {
    color: white;
    margin: 8px 0;
}

.banner-botao {
    cursor: pointer;
    background-color: var(--fundo-botao);
    color: var(--cor-secundaria);
    padding: 12px 16px;
    border: none;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .banner{
        padding: 161px 32px 32px;
    }
    
    .banner-titulo {
        font-size: 52px;
    }

    .banner-texto {
        font-size: 22px;
        font-weight: 700;
        margin: 16px 0;
    }
}

@media screen and (min-width: 1440px){
    .banner{
        padding: 150px 152px 32px;
    }

    .banner-botao{
        padding: 16px;
    }
}