@media screen and (min-width: 360px) {
    .cabecalho {
        display: flex;
        padding: 16px;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho-logo {
        /* Logo */


        width: 100px;
        height: 28px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .cabecalho-login {
        /* Botao */


        box-sizing: border-box;

        /* Auto layout */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;

        width: 133px;
        height: 40px;

        /* Azul/100% */

        border: 1px solid #2A7AE4;
        background-color: var(--fundo-cabecalho);
        color: var(--cor-links);
        font-weight: 600;

        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .cabecalho-link-pesquisa {
        /* Icone */


        width: 24px;
        height: 24px;


        /* Inside auto layout */

        flex: none;
        order: 2;
        flex-grow: 0;
    }

    .cabecalho-login:hover {
        background-color: var(--fundo-botao);
        color: white;
        cursor: pointer;
    }

    .cabecalho-login:active {
        background-color: var(--fundo-botao-ativo);
    }

    .caixa-de-pesquisa {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .caixa-de-pesquisa {
        display: block;
        position: relative;
        padding: 8px 16px;
        background: #F5F5F5;
        border-radius: 20px;
        padding: 12px 16px;
        align-items: center;
    }

    .cabecalho-pesquisa {
        font-weight: 400;
        font-size: 14px;
        background-color: #F5F5F5;
        border: none;
    }

    .cabecalho-link-pesquisa {
        display: none;
    }

    .cabecalho {
        padding: 16px 32px;
    }
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        margin: 0 152px;
    }

    .cabecalho-logo {
        width: 176px;
        height: 50px;
        margin-right: 32px;
    }

    .caixa-de-pesquisa {
        width: 393px;
        margin-right: 353px;
    }
}