.conteudo {
    background-color: var(--fundo-conteudo);
    padding: 16px 16px 0;
}

.produtos-secao {
    margin-bottom: 8px;
}

.produtos-secao-texto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
}

.produtos-titulo-secao {
    font-weight: 700;
    font-size: 22px;
}

.produtos-link-secao,
.produto-link {
    color: var(--cor-links);
    font-weight: 700;
    font-size: 14px;
}

.produto {
    margin-bottom: 8px;
}

.tablet {
    display: none;
}

.ult {
    margin-bottom: 16px;
}

.produtos-amostra {
    display: flex;
    justify-content: space-between;
}

.img-produto {
    width: 156px;
    height: 174px;
}

.titulo-produto {
    margin-top: 8px;
}

.preco-produto {
    font-weight: 700;
    font-size: 16px;
    margin: 8px 0;
}

@media screen and (min-width: 768px) {
    .tablet {
        display: block;
    }

    .celular{
        display: none;
    }

    .produtos-amostra{
        margin-bottom: 22px;
    }

    .ult{
        margin-bottom: 12;
    }
}