@media screen and (min-width: 360px) {
    .contato {
        background-color: var(--fundo-contato);
        text-align: center;
        padding: 16px;
    }

    .contato-lista-link {
        margin: 32px 0;
    }

    .contato-lista-link {
        display: flex;
        flex-direction: column;
    }

    .links-uteis {
        margin-bottom: 16px;
    }

    .contato-form {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .formulario-contato {
        display: flex;
        flex-direction: column;
    }

    .inputs {
        margin: 8px 0;
        display: flex;
        flex-direction: column;
    }

    .input-nome {
        margin-bottom: 16px;
        padding: 8px 12px 32px;
    }

    .input-mensagem {
        padding: 16px 12px 46px;
    }

    .input-form {
        border-radius: 4px;
        border: none;
        border-bottom: 2px solid #C8C8C8;
    }

    .titulo-form {
        font-weight: 700;
        font-size: 16px;
    }

    .bt-enviar-form {
        width: 151px;
        height: 40px;
        background-color: var(--fundo-botao);
        color: white;
        font-size: 14px;
        font-weight: 600;
        border: none;
    }
}

@media screen and (min-width: 768px) {
    .contato {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 32px;
    }

    .contato-links {
        text-align: left;
        margin-bottom: 0px;
    }

    .links-uteis {
        margin-bottom: 24px;
    }

    .contato-logo {
        margin-bottom: 16px;
    }

    .contato-lista-link {
        margin: 0;
    }
}

@media screen and (min-width: 1440px) {
    .contato {
        display: flex;
        padding: 64px 152px;
        justify-content: space-between;
    }

    .contato-links {
        display: flex;
    }

    .contato-logo {
        width: 176px;
        height: 50px;
        margin-right: 112px;
    }

    .input-form {
        width: 560px;
        height: 56px;
    }

    .links-uteis {
        font-weight: 500;
        font-size: 16px;
    }

    .bt-enviar-form {
        padding: 16px;
        width: 180px;
    }
}