.contato {
    background: #EAF2FD;
    padding: 16px;
}

.logo_links {
    text-align: center;
    margin-bottom: 32px;
}

.logo_contato {
    width: 176px;
    height: 50px;
    margin-bottom: 32px;
}

.contato_link {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}

.titulo_formulario {
    font-weight: 700;
    font-size: 16px;
    color: #464646;
    margin-bottom: 8px;
}

.caixa_texto {
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid #C8C8C8;
    width: auto;
}

.rotulo_formulario {
    font-weight: 400;
    font-size: 12px;
    color: #A2A2A2;
    margin-bottom: 4px;
}

.entrada_formulario {
    border: none;
}

.rotulo_mensagem {
    margin-bottom: 8px;
}

.mensagem {
    padding: 16px 12px;
}

.bt_enviar {
    font-weight: 600;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .contato {
        display: flex;
        flex-direction: row;
        padding: 32px;
    }

    .logo_links {
        margin-right: 94px;
        text-align: left;
        margin-bottom: 0;
    }

    .contato_link {
        margin-bottom: 24px;
    }

    .contato_formulario {
        width: 434px;
    }

    .ultimo_link {
        margin-bottom: 0;
    }

    .caixa_texto {
        width: auto;
    }
}

@media screen and (min-width: 1440px) {
    .contato {
        padding: 64px 152px;
    }

    .logo_links {
        display: flex;
    }

    .logo_contato {
        margin-right: 112px;
        width: 176px;
        height: 50px;
    }

    .contato_links {
        margin-right: 112px;
    }

    .contato_formulario {
        width: 560px;
    }

    .caixa_texto {
        width: auto;
    }
}