@media screen and (min-width: 360px) {
    .login {
        padding: 97px 40px 76px;
        background-color: var(--fundo-conteudo);
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .texto-login {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        margin-bottom: 16px;
    }

    .bt-enviar-form{
        margin-top: 16px;
    }

    .input-senha {
        padding: 16px;
    }
    
    .input-email {
        margin-bottom: 16px;
        padding: 16px;
    }
}

@media screen and (min-width: 768px){
    .login{
        padding: 45px 247px 73px;
    }
}

@media screen and (min-width: 1440px){
    .login{
        width: 432;
        padding: 92px 509px;
    }

    .input-form{
        width: 432px;
        padding: 4px;
    }
}