@media screen and (min-width: 360px) {
    .rodape {
        padding: 32px 63px;
        text-align: center;
    }

    .texto-rodape {
        font-weight: 500;
        font-size: 16px;
    }

    .link-dev {
        color: var(--cor-principal);
    }
}

@media screen and (min-width: 1440px) {
    .rodape{
        width: 1200px;
    }
}