.rodape {
    padding: 32px 250px;
    text-align: center;
}

.texto-rodape {
    font-weight: 500;
    font-size: 16px;
}

.link-dev{
    color: var(--cor-principal);
}

@media screen and (min-width: 1440px) {
    .rodape {
        padding: 32px 590px;
    }
}